* {
    list-style: none;
}

ul {
    list-style: none;
    /*убираем маркеры списка*/
    margin: 0;
    /*убираем отступы*/
    padding-left: 0;
    /*убираем отступы*/
    margin-top: 10px;
    /*делаем отступ сверху*/
    background: #B3C7FD;
    /*добавляем фон всему меню*/
    height: 30px;
    /*задаем высоту*/
    text-align: center;
    /*Выравниваем по центру*/
}

a {
    text-decoration: none;
    /*убираем подчеркивание текста ссылок*/
    background: #B3C7FD;
    /*добавляем фон к пункту меню*/
    color: #fff;
    /*меняем цвет ссылок*/
    /* margin: 15px 15px;  Отступы */
    padding: 0px 15px;
    /*добавляем отступ*/
    font-family: arial;
    /*меняем шрифт*/
    font-size: 25px;
    /*ровняем меню по вертикали*/
    text-align: center;
    /*Выравниваем по центру*/
    display: block;
    border-right: 1px solid #677B27;
    /*добавляем бордюр справа*/
    -moz-transition: all 0.3s 0.01s ease;
    /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

a:hover {
    background: blue;
    /*добавляем эффект при наведении*/
}

li {
    float: left;
    /*Размещаем список горизонтально для реализации меню*/
    position: relative;
    /*задаем позицию для позиционирования*/
}


/*Стили для скрытого выпадающего меню*/

li>ul {
    position: absolute;
    top: 25px;
    display: none;
}


/*Делаем скрытую часть видимой*/

li:hover>ul {
    display: block;
    width: 50px;
    /*Задаем ширину выпадающего меню*/
}

li:hover>ul>li {
    float: none;
    /*Убираем горизонтальное позиционирование*/
}


/*Убрать полосу прокрутки для всей страницы*/

::-webkit-scrollbar {
    width: 0;
}

.video-bg {
    margin: 15px;
    padding: 15px;
    transition: 10s;
}

input {
    background-color: bisque;
}